.card {
    position: relative;
    margin: 2rem 1rem;
    padding: 1rem;
    border: 1px solid var(--clr-light);
    border-radius: 10%;
}

.card__bookmark {
    position: absolute;
    font-size: 2.5rem;
    top: -.4rem;
    right: 0.9rem;
    background: var(--clr-bg);
    transform: scale(1);
    transition: 20ms ease-in-out;
}

.card__bookmark:hover,
.card__bookmark:active {
    transform: scale(1.2);
}

.card__bookmark--active:hover,
.card__bookmark--active:active {
    transform: scale(1.2);
}





