.card {
    position: relative;
    margin: 2rem 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 10%;
}

.card__main::before {
    content: url(../fa_icons/bookmark-regular.svg);
    display: inline-block;
    position: absolute;
    height: 37px;
    width: 40px;
    right: 1rem;
    top: -.8rem;
    background-color: white; 
}

.card__main--bookmarked::before {
    content: url(../fa_icons/bookmark-solid.svg);
}


