.footer {
    background-color: var(--clr-accent);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; 
    z-index: 100;     
}

.footer__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0 .5rem;
}

.nav__icon {
    padding: 1px;
}
    
.active {
    border-bottom: 8px double var(--clr-dark);
} 