:root {
    --clr-accent: cadetblue;
    --ff-sans: 'Radley', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    display: grid;
    font-family: var(--ff-sans);
    font-size: 1.2rem;
    grid-template-rows: auto 1fr auto;
    line-height: 1.5;
    margin-bottom: auto;
    min-height: 100vh;
    text-align: center;    
}

.main {
    margin-bottom: 25%;
    /* -> otherwise footer would hide content of last question-container */
}



