:root {
    --ff-sans: 'Radley', serif;

    --clr-bg: #FCAB7B;
    --clr-accent: #88CDF5;
    --clr-dark: #000;
    --clr-light: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: var(--ff-sans);
    font-size: 1.2rem;
    grid-template-rows: auto 1fr auto;
    line-height: 1.5;
    margin-bottom: auto;
    min-height: 100vh;
    background: var(--clr-bg);
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

label {
    font-size: 0.8em;
}

p {
    margin-bottom: 1.5rem;
    margin-left: .7rem;
}

span {
    font-size: 2.6rem;
    color: var(--clr-dark);
}

.main {
    margin-bottom: 25%;
}












